node_modules
public/css
public/js
data
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal
audiowaveform.exe
__pycache__/
scripts/transcribe
scripts/models
src/index.js
scripts/combineAndPadAudio.py
logs
scripts/output/llmMatchPercentages.csv
