torch
torchvision
torchaudio
pyannote.audio
numpy
scipy
librosa
imufusion
transformers
huggingface_hub
opencv-contrib-python
cmake
face_recognition
scikit-learn
pre-commit
orjson
pyyaml
loguru
pydub
projectaria-tools[all]
