doctype html
html(lang="en")
body
  h3 Change password
  if retry
    p= "Incorrect password. Please try again"

  form(action="/change-password/credentials")
    table
      tr
        td= "Password:"
        td
          input(type="password", name="password")
      tr
        td= "New password:"
        td
          input(type="password", name="new-password")
      tr
        td
          input(type="submit", value="Change", name="Change")
