doctype html
html(lang="en")
    head
        title Speechviz
    body
        .navbar
            a(href="/") Back to file selection
            p#file #{file}
            a#user(href="/settings") #{user}
        fieldset#user-selection(hidden=true)
            legend(style="font-size:20px;") Select a user:
        if inFaceFolder
            fieldset#face-display 
                legend(style="font-size:20px;") Clustered Faces:
                //https://github.com/pugjs/pug/issues/2648
                //? and over stops it from breaking when images hasn't been sent yet
                each image in images ? images : []
                    img(src=("" + dir + "/" + faceFolder + "/" + image))
                console.log("we in face folder")
        else
            fieldset#file-selection 
            legend(style="font-size:20px;") Select which cluster you'd like to view:
        


        script(type="application/javascript", src="js/faceCluster.js")
