doctype html
html(lang="en")
    head
        title Speechviz
    body
        fieldset#user-selection(hidden=true)
            legend(style="font-size:20px;") Select a user:
        fieldset#file-selection 
            legend(style="font-size:20px;") Clustered Faces:

        script(type="application/javascript", src="js/faceCluster.js")
