doctype html
html(lang="en")
    head
        title Speechviz
    body
        fieldset#user-selection(hidden=true)
            legend(style="font-size:20px;") Select a user:
        if inFaceFolder
            fieldset#face-display 
                legend(style="font-size:20px;") Clustered Faces:
                //https://github.com/pugjs/pug/issues/2648
                img(src='/faceClusters/video1.mp4/testLabel0/Num100.jpg')
                //? and over stops it from breaking when images hasn't been sent yet
                each image in images ? images : []
                    img(src=("" + dir + image))
                console.log("we in face folder")
        else
            fieldset#file-selection 
            legend(style="font-size:20px;") Select which cluster you'd like to view:
        


        script(type="application/javascript", src="js/faceCluster.js")
