doctype html
html(lang="en")
    head
        title Speechviz
    body
        fieldset#user-selection(hidden=true)
            legend(style="font-size:20px;") Select a user:
        fieldset#file-selection 
            legend(style="font-size:20px;") Clustered Faces:
            img(src='/faceClusters/video1.mp4/testLabel0/Num100.jpg') 
        //https://github.com/pugjs/pug/issues/2648
        ul#image-gallery
        each image in images
            img(src=("" + dir + image))


        script(type="application/javascript", src="js/faceCluster.js")
