doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title IMU Visualization
    body(style={margin: 0})
        video#media(controls, style="float:left;")
            source(src=`aria/ccf5a3cc/1201-1.mp4`, type="video/mp4")
            | Your browser does not support the video element.
        script(type="application/javascript", src="js/imu.js")
        