extends layout

block body
  body#indexBody
    .centerThem
      button#audio-selection-acc.accordion Audios
      fieldset#audio-selection.panel
      button#video-selection-acc.accordion Videos
      fieldset#video-selection.panel
      button#view-selection-acc.accordion Views
      fieldset#view-selection.panel
      button#face-selection-acc.accordion Face Clusters
      fieldset#face-selection.panel

    script(type="application/javascript", src="js/index.js")
