doctype html
html(lang="en")
    head
        title Speechviz
    body
        fieldset#user-selection(hidden=true)
            legend Select a user:
        fieldset#file-selection 
            legend Select an audio file:

        script(type="application/javascript", src="js/index.js")
