doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Speechviz
    link(rel="stylesheet", type="text/css", href="css/style.css")
  body#indexBody
    .centerThem
      button#audio-selection-acc.accordion Audios
      fieldset#audio-selection.panel
      button#video-selection-acc.accordion Videos
      fieldset#video-selection.panel
      button#face-selection-acc.accordion Face Clusters
      fieldset#face-selection.panel

    script(type="application/javascript", src="js/index.js")
