doctype html
html(lang="en")
    head
        title Speechviz
    body
        fieldset#user-selection(hidden=true)
            legend(style="font-size:20px;") Select a user:
        fieldset#file-selection 
            legend(style="font-size:20px;") Select an audio, video file, or clustered faces:

        script(type="application/javascript", src="js/index.js")
