doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Speechviz
    link(rel="stylesheet", type="text/css", href="/css/style.css")
    link(rel="icon", href="data:,")
  block body
    body
      block content
