doctype html
html(lang="en")
body
  h2 Speechviz
  if retry
    p="Invalid user/password combination. Please try again"

  form(action="/login/credentials", method="post")
    table
      tr
        td="User:"
        td
          input(type="text", name="user")
      tr
        td="Password:"
        td
          input(type="password", name="password")
      if referer
        tr
          td
            input(type="hidden", name="referer", value=referer)
      tr
        td
          input(type="submit", name="login", value="login")
