doctype html
html(lang="en")
body
  h2 Speechviz
  if retry
    p="Invalid user/password combination. Please try again"

  form(action="/login/credentials")
    table
      tr
        td="User:"
        td
          input(type="text", name="user")
      tr
        td="Password:"
        td
          input(type="password", name="password")
      tr
        td
          input(type="submit", value="Login", name="Login")
