doctype html 
html(lang="en")
    head
        meta(charset="UTF-8")
        title Speechviz
        link(rel="stylesheet", type="text/css", href="css/style.css")
    body 
        a(href="/") Back to file selection 
        p#user #{user}
        .row 
            .column#column
                ul
                    li(style="font-size:20px;")
                        input(type="checkbox", data-action="toggle-segment", data-id="Segments", autocomplete="off", checked)
                        | Segments 
                        a(href="#", style="text-decoration:none;" data-id="Segments")
                        a(href="#", style="text-decoration:none;" data-id="Segments")
                        ul.nested.active#Segments-nested
            .column2#column2
                #waveform-container
                    #zoomview-container
                    #overview-container
                    #audio-controls
                        audio#audio(controls="controls")
                            source(src=`audio/${audiofile}`, type=mimetype)
                            | Your browser does not support the audio element.

                        #controls
                            div
                                a(href="javascript:;", style="text-decoration:none;pointer-events:none;", data-action="zoom-in")
                                a(href="javascript:;", style="text-decoration:none;", data-action="zoom-out")
                                label(for="amplitude-scale") Amplitude scale
                                input#amplitude-scale(type="range", min="0", max="10", step="1")
                            div
                                input#auto-scroll(type="checkbox", checked)
                                label(for="auto-scroll") Auto-scroll
                                input#enable-seek(type="checkbox", checked)
                                label(for="enable-seek") Enable click to seek
                                input#seek-time(type="text", value="0.0")
                                button(data-action="seek") Seek
                            div
                                button(data-action="add-segment") Add Segment
                                button(data-action="save-annotations") Save annotations
                                button(data-action="load-annotations") Load annotations
        script(type="application/javascript", src="js/viz.js")