doctype html 
html(lang="en")
    head
        meta(charset="UTF-8")
        title Speechviz
        link(rel="stylesheet", type="text/css", href="css/style.css")
    body 
        div(style="display:flex;align-items:center;justify-content:space-between;")
            a(href="/") Back to file selection 
            p#user #{user}
        .row 
            .column#column
                ul
                    li(style="font-size:20px;")
                        input(type="checkbox", data-action="toggle-segment", data-id="Segments", autocomplete="off", checked)
                        | Segments 
                        a(href="#", style="text-decoration:none;" data-id="Segments")
                        a(href="#", style="text-decoration:none;" data-id="Segments")
                        ul.nested.active#Segments-nested
            .column2#column2
                #waveform-container
                    p #{audiofile}
                    #zoomview-container
                    #overview-container
                    #audio-controls
                        audio#audio(controls="controls")
                            source(src=`audio/${audiofile}`, type=mimetype)
                            | Your browser does not support the audio element.
                        .row
                            .column3
                                #controls
                                    .dropdown
                                        button#speed-button(data-action="show-speeds") Speed
                                        .dropdown-content.speed-content#speed-dropdown
                                            button.spdbtn 0.25x
                                            br
                                            button.spdbtn 0.5x
                                            br
                                            button.spdbtn 0.75x
                                            br
                                            button.spdbtn 1x
                                            br
                                            button.spdbtn 1.25x
                                            br
                                            button.spdbtn 1.5x
                                            br
                                            button.spdbtn 1.75x
                                            br
                                            button.spdbtn 2x
                                            br
                                    div
                                        a(href="javascript:;", style="text-decoration:none;pointer-events:none;", data-action="zoom-in")
                                        a(href="javascript:;", style="text-decoration:none;", data-action="zoom-out")
                                        .dropdown
                                            a#settings-button(href="javascript:;", style="text-decoration:none;", data-action="show-settings")
                                            .dropdown-content#settings-dropdown
                                                div
                                                    label(for="amplitude-scale") Amplitude scale
                                                    input#amplitude-scale(type="range", min="0", max="10", step="1")
                                                input#auto-scroll(type="checkbox", checked)
                                                label(for="auto-scroll") Auto-scroll
                                                input#enable-seek(type="checkbox", checked)
                                                label(for="enable-seek") Enable click to seek
                                                input#seek-time(type="text", value="0.0")
                                                button(data-action="seek") Seek
                                                br
                                                button(data-action="reset-moved") Reset moved
                                                button(data-action="reset") Reset all
                                    div
                                        button(data-action="add-segment") Add Segment
                                    div
                                        input(type="text",id ="label", placeholder = "label")
                                        button(data-action="add-label") Add Labeled Speaker
                                    div
                                        button(data-action="save") Save
                                        button(data-action="undo") Undo
                            .column4
                                textarea#notes(rows="8", cols="60") This is for any notes you wish to jot down
                        .popup#popup
                            .popup-content#popup-content

        script(type="application/javascript", src="js/viz.js")