/*
The names for most of the color-related variables are taken from
https://publish.obsidian.md/hub/04+-+Guides%2C+Workflows%2C+%26+Courses/Guides/Default+Obsidian+Theme+Colors
*/
:root {
  --background-primary: #ffffff;
  --background-primary-alt: #f1f1f1;
  --background-secondary: #919191;
  --background-seconday-alt: ;
  --text-normal: #000000;
  --text-muted: #808080;
  --text-faint: #aaaaaa;
  --text-accent: ;
  --text-accent-hover: ;
  --interactive-accent: rgb(52, 120, 246);
  --interactive-accent-hover: rgb(42, 100, 214);
  /* probably need more, these were the more obvious ones */

  /*
  variables for specific classes
  these just use the other variables, but they're here just
  for extra customizability
  */
  --button-on-fill: var(--text-normal);
  --button-on-stroke: var(--text-normal);
  --button-off-fill: var(--text-muted);
  --button-off-stroke: var(--text-muted);

  /* there probably should be some form of a shadow color variable */
  --shadow: ;

  /* maybe something for https://developer.mozilla.org/en-US/docs/Web/CSS/caret-color */
}

/*
To do dark mode, create variables for the above under something like

html[data-theme="dark"] {
  --background-primary: #000000;
  ...
}

and then set dark-theme attribute of the html element to "dark"
*/

input[type="checkbox"]:checked {
  accent-color: var(--interactive-accent);
}

input[type="checkbox"]:checked:hover {
  accent-color: var(--interactive-accent-hover);
}

html,
body {
  margin: 0;
}

body {
  font-family: "Helvetica neue", Helvetica, Arial, sans-serif;
}

#waveform-container {
  margin: 0px 12px;
  width: auto;
}

#zoomview-container,
#overview-container {
  /* top | right | bottom | left */
  margin: 0 0 24px 0;
  line-height: 0;
  -moz-box-shadow: 3px 3px 20px var(--background-secondary);
  -webkit-box-shadow: 3px 3px 20px var(--background-secondary);
  box-shadow: 3px 3px 20px var(--background-secondary);
}

#zoomview-container {
  height: 200px;
}

#overview-container {
  height: 85px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25px;
}

audio {
  width: inherit;
}

#controls {
  flex: 1;
  /* margin-left: 1em; */
}

ul {
  margin-left: 0px;
  padding-left: 25px;
  list-style-type: none;
}

.icon {
  /* padding-left: 2px; */
  text-decoration: none;
}

.button-on {
  fill: var(--button-on-fill);
  stroke: var(--button-on-stroke);
  pointer-events: auto;
}

.button-off {
  fill: var(--button-off-fill);
  stroke: var(--button-off-stroke);
  pointer-events: none;
}

.column,
.column2,
.column3,
.column4 {
  box-sizing: border-box;
  margin: 0px;
  padding: 10px;
}

.column {
  white-space: nowrap;
  float: left;
  width: 20%;
  overflow-x: scroll;
  overflow-y: auto;
  height: calc(100vh - 65px);
}

.column2 {
  float: right;
  width: 80%;
  height: calc(100vh - 65px);
}

.column3 {
  float: left;
  width: 45%;
  overflow-y: auto;
  height: auto;
}

.column4 {
  float: right;
  width: 55%;
  overflow-y: auto;
  height: auto;
}

.row:after {
  content: "";
  display: inline;
  clear: both;
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

.popup {
  display: none;
  position: fixed;
  z-index: 8;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
}

.popup-content {
  margin: 100px auto;
  width: 30%;
  padding: 100px;
  background-color: var(--background-primary);
}

.close {
  color: var(--text-faint);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--text-muted);
  text-decoration: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--background-primary-alt);
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#speed-button {
  background-color: var(--interactive-accent);
  color: var(--background-primary);
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

#speed-button:hover,
#speed-button:focus {
  background-color: var(--interactive-accent-hover);
}

.speed-content {
  text-align: center;
  width: 50px;
}

.spdbtn {
  min-height: 25px;
  font-size: 10px;
  width: 100%;
}

/* .nested needs to be before .active so that .active has priority */
.nested {
  display: none;
}

.show,
.active {
  display: block;
}
